# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Build directories
build/

# Externals
external/glfw/build